In [1]:
import pandas as pd

# read dataset
df = pd.read_csv('../data/train-face-encodings.csv')
tdf = pd.read_csv('../data/test-face-encodings.csv')
df.head()

,Case#,name,fe1,fe2,fe3,fe4,fe5,fe6,fe7,fe8,...,fe119,fe120,fe121,fe122,fe123,fe124,fe125,fe126,fe127,fe128
0,1,Amandla Sternburg,-0.062336,0.052564,0.100087,-0.119492,-0.139727,-0.101675,-0.077950,-0.115687,...,0.077741,0.087120,0.007947,-0.013164,-0.114904,-0.004787,0.123941,-0.133650,0.034758,0.075893
1,2,Amandla Sternburg,-0.062336,0.052564,0.100087,-0.119492,-0.139727,-0.101675,-0.077950,-0.115687,...,0.077741,0.087120,0.007947,-0.013164,-0.114904,-0.004787,0.123941,-0.133650,0.034758,0.075893
2,3,Amandla Sternburg,-0.063223,-0.038476,0.101766,-0.079118,-0.164185,-0.092289,-0.065582,-0.067860,...,0.094934,0.092719,-0.031205,-0.032641,-0.135209,0.025838,0.150927,-0.089295,0.035543,0.064832
3,4,Amandla Sternburg,-0.098610,0.056209,0.136003,-0.118633,-0.172050,-0.055944,-0.084016,-0.072944,...,0.143010,0.093671,-0.071815,-0.059864,-0.094761,-0.037739,0.121683,-0.100972,0.065145,0.053635
4,5,Amandla Sternburg,-0.054156,0.044665,0.134833,-0.108199,-0.160031,-0.043255,-0.099803,-0.050705,...,0.128864,0.124600,-0.008052,-0.025404,-0.129545,-0.033177,0.140403,-0.112612,0.062427,0.071699

In [2]:
print(df.shape)

no_classes = len(df.name.unique())
print(no_classes)

df.describe()

(61, 130)
10

,Case#,fe1,fe2,fe3,fe4,fe5,fe6,fe7,fe8,fe9,...,fe119,fe120,fe121,fe122,fe123,fe124,fe125,fe126,fe127,fe128
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,...,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000
mean,31.000000,-0.145820,0.111562,0.077902,-0.037469,-0.046888,-0.062969,0.016805,-0.093653,0.173793,...,0.033942,0.089248,-0.025581,-0.046376,-0.117847,-0.021716,0.082761,-0.087033,0.029483,0.031020
std,17.752934,0.048697,0.048349,0.039678,0.050379,0.049786,0.045028,0.051104,0.059283,0.032258,...,0.042740,0.037927,0.048966,0.038481,0.040463,0.044003,0.041159,0.040489,0.039401,0.029547
min,1.000000,-0.242679,-0.038476,0.009014,-0.149475,-0.172050,-0.172290,-0.099803,-0.200209,0.102416,...,-0.080591,0.007707,-0.109943,-0.165180,-0.237033,-0.142511,-0.014813,-0.200636,-0.052164,-0.056826
25%,16.000000,-0.174213,0.073484,0.045440,-0.071133,-0.075145,-0.092289,-0.015134,-0.136570,0.150915,...,0.007064,0.063122,-0.057693,-0.070477,-0.135812,-0.050814,0.059569,-0.100972,-0.002689,0.012554
50%,31.000000,-0.142383,0.119424,0.070937,-0.049372,-0.039087,-0.064069,0.019831,-0.109724,0.171832,...,0.026097,0.085717,-0.033567,-0.040771,-0.114904,-0.013443,0.085361,-0.085871,0.035543,0.034552
75%,46.000000,-0.115865,0.151437,0.101766,0.005235,-0.019440,-0.028969,0.053026,-0.052999,0.197505,...,0.067617,0.119019,0.007947,-0.021388,-0.094761,0.008249,0.110647,-0.060607,0.055439,0.053635
max,61.000000,-0.054156,0.190391,0.178643,0.060035,0.033361,0.059532,0.119882,0.048881,0.254512,...,0.143010,0.165418,0.088005,0.049966,-0.036952,0.079573,0.152330,-0.010513,0.114733,0.081077

In [3]:
#split input and output data
X = df.drop(axis=0, columns=['name', 'Case#'])
y = df.name
X_test = tdf.drop(axis=0, columns=['name', 'Case#'])
print(X.shape)
print(y.shape)

(61, 128)
(61,)

In [4]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
clf = OneVsRestClassifier(SVC()).fit(X, y)
clf.predict(X_test)

array(['Amandla Sternburg', 'Denzel Washington', 'Jason Derulo',
       'Juliana Kanyomozi', 'Kelly Roland', 'Kevin Hart', 'Lupita Nyongo',
       'Taylor Russell', 'Usher Raymond', 'Will Smith'], dtype='<U17')