In [8]:

import pandas as pd

# read dataset
df = pd.read_csv('../data/train-face-encodings.csv')
tdf = pd.read_csv('../data/test-face-encodings.csv')
df.head()

,Case#,name,fe1,fe2,fe3,fe4,fe5,fe6,fe7,fe8,...,fe119,fe120,fe121,fe122,fe123,fe124,fe125,fe126,fe127,fe128
0,1,Amandla Sternburg,-0.062336,0.052564,0.100087,-0.119492,-0.139727,-0.101675,-0.077950,-0.115687,...,0.077741,0.087120,0.007947,-0.013164,-0.114904,-0.004787,0.123941,-0.133650,0.034758,0.075893
1,2,Amandla Sternburg,-0.062336,0.052564,0.100087,-0.119492,-0.139727,-0.101675,-0.077950,-0.115687,...,0.077741,0.087120,0.007947,-0.013164,-0.114904,-0.004787,0.123941,-0.133650,0.034758,0.075893
2,3,Amandla Sternburg,-0.063223,-0.038476,0.101766,-0.079118,-0.164185,-0.092289,-0.065582,-0.067860,...,0.094934,0.092719,-0.031205,-0.032641,-0.135209,0.025838,0.150927,-0.089295,0.035543,0.064832
3,4,Amandla Sternburg,-0.098610,0.056209,0.136003,-0.118633,-0.172050,-0.055944,-0.084016,-0.072944,...,0.143010,0.093671,-0.071815,-0.059864,-0.094761,-0.037739,0.121683,-0.100972,0.065145,0.053635
4,5,Amandla Sternburg,-0.054156,0.044665,0.134833,-0.108199,-0.160031,-0.043255,-0.099803,-0.050705,...,0.128864,0.124600,-0.008052,-0.025404,-0.129545,-0.033177,0.140403,-0.112612,0.062427,0.071699

In [9]:
print(df.shape)

no_classes = len(df.name.unique())
print(no_classes)

df.describe()

(113, 130)
21

,Case#,fe1,fe2,fe3,fe4,fe5,fe6,fe7,fe8,fe9,...,fe119,fe120,fe121,fe122,fe123,fe124,fe125,fe126,fe127,fe128
count,113.00000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,...,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000
mean,57.00000,-0.154448,0.092132,0.074808,-0.037469,-0.042528,-0.078020,0.028496,-0.102337,0.168073,...,0.023176,0.090646,-0.040729,-0.058959,-0.128169,-0.022875,0.084285,-0.066310,0.025233,0.033920
std,32.76431,0.044941,0.050936,0.039735,0.047945,0.043979,0.044525,0.044571,0.051713,0.035726,...,0.041122,0.040542,0.047604,0.043365,0.041086,0.042428,0.034996,0.042671,0.037141,0.027913
min,1.00000,-0.242679,-0.038476,-0.009747,-0.149475,-0.172050,-0.172290,-0.099803,-0.200209,0.074353,...,-0.080591,0.001783,-0.156417,-0.165180,-0.237033,-0.142511,-0.014813,-0.200636,-0.061938,-0.056826
25%,29.00000,-0.185233,0.057226,0.045283,-0.070743,-0.065336,-0.109405,0.008833,-0.139013,0.146780,...,-0.002232,0.060549,-0.075295,-0.086497,-0.152980,-0.049869,0.064792,-0.090589,-0.003740,0.013555
50%,57.00000,-0.160135,0.095187,0.071124,-0.042677,-0.039206,-0.079265,0.033414,-0.110302,0.168897,...,0.020669,0.086009,-0.045751,-0.057532,-0.126632,-0.017751,0.083955,-0.062840,0.028747,0.037296
75%,85.00000,-0.125348,0.127036,0.101766,0.001769,-0.019440,-0.048613,0.058569,-0.066676,0.194244,...,0.046039,0.123522,-0.005821,-0.025404,-0.098468,0.004577,0.108300,-0.036189,0.048504,0.054067
max,113.00000,-0.054156,0.190391,0.178643,0.066089,0.048678,0.059532,0.119882,0.048881,0.261558,...,0.143010,0.167401,0.088005,0.049966,-0.036952,0.087532,0.152330,0.029230,0.114733,0.081770

In [10]:
#split input and output data
X = df.drop(axis=0, columns=['name', 'Case#'])
y = df.name
X_test = tdf.drop(axis=0, columns=['name', 'Case#'])
y_test = tdf.name
print(X.shape)
print(y.shape)

(113, 128)
(113,)

In [15]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import pickle
clf = OneVsRestClassifier(SVC()).fit(X, y)
y_pred = clf.predict(X_test)
filepath = "../models/classifier.sav"
pickle.dump(y_pred, open(filepath, 'wb'))

In [12]:
print(y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

['Amandla Sternburg' 'Denzel Washington' 'Jason Derulo'
 'Juliana Kanyomozi' 'Kelly Roland' 'Kevin Hart' 'Lupita Nyongo'
 'Taylor Russell' 'Usher Raymond' 'Will Smith']
1.0

In [13]:
print(np.mean(y_pred == y_test))
print(y_pred, y_test)

1.0
['Amandla Sternburg' 'Denzel Washington' 'Jason Derulo'
 'Juliana Kanyomozi' 'Kelly Roland' 'Kevin Hart' 'Lupita Nyongo'
 'Taylor Russell' 'Usher Raymond' 'Will Smith'] 0    Amandla Sternburg
1    Denzel Washington
2         Jason Derulo
3    Juliana Kanyomozi
4         Kelly Roland
5           Kevin Hart
6        Lupita Nyongo
7       Taylor Russell
8        Usher Raymond
9           Will Smith
Name: name, dtype: object

In [14]:
print(y_test)

0    Amandla Sternburg
1    Denzel Washington
2         Jason Derulo
3    Juliana Kanyomozi
4         Kelly Roland
5           Kevin Hart
6        Lupita Nyongo
7       Taylor Russell
8        Usher Raymond
9           Will Smith
Name: name, dtype: object